; EditorConfig is awesome: http://EditorConfig.org

; top-most EditorConfig file
# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = true

[*]
end_of_line = lf
insert_final_newline = true

[{*.cjs,*.js}]
indent_size = 2
tab_width = 2

[{*.htm,*.html,*.md,*.pug}]
indent_size = 2
tab_width = 2
