@use '../settings/colors' as colors;
@use '../settings/fonts' as fonts;

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  background: colors.$color-background--light;

  font-family: fonts.$base-font-family;
  font-weight: fonts.$base-font-weight;
  font-size: fonts.$base-font-size;
  line-height: fonts.$base-line-height;
}

a {
  color: colors.$color-font-primary--light;
  text-decoration: none;
  outline: none;

  &:hover {
    color: colors.$color-accent;
  }
}

.container {
  margin: 0 30px;
}

.hidden {
  display: none;
  visibility: hidden;
}
