@use '../settings/colors' as colors;

body.dark {
  --transition-time: 1s;

  background-color: colors.$color-background--dark;
  transition: background-color var(--transition-time);

  button.mode-switch {
    color: colors.$color-font-primary--light;
    transition: color var(--transition-time);

    &:hover {
      color: colors.$color-accent;
    }
  }

  #site-header h1 a,
  #site-footer a {
    color: #eee;
    transition: color var(--transition-time);

    &:hover {
      color: colors.$color-accent;
    }
  }

  .hero-container {
    img {
      border: none;
    }

    h1 {
      color: #eee;
      transition: color var(--transition-time);
    }

    .social-text a {
      color: colors.$color-font-primary--light;
      transition: color var(--transition-time);

      &:hover {
        color: colors.$color-accent;
      }
    }

    .social-icon a {
      color: colors.$color-font-primary--light;
      transition: color var(--transition-time);

      &:hover {
        color: colors.$color-accent;
      }
    }
  }
}
