#site-footer {
  padding: 20px 0;
  width: 100%;
  justify-content: center;

  @media screen and (min-width: 576px) {
    justify-content: space-between;
  }

  .social-icon {
    @include hide;

    @media screen and (min-width: 576px) {
      @include show;
      display: inline-flex;
      a {
        margin: 0 0 0 12px;
        font-size: 1.5em;
      }
    }

    a {
      vertical-align: middle;
      margin: 0 12px;
      font-size: 2em;
    }
  }

  .copy {
    color: $color-font-light;
  }
}
