extends @Views/layouts/default.pug

block content
  -
    const responsiveImage = {
      // default image
      src: require('@Images/benedikt-benz.jpg?size=200&format=webp'),
      // responsive images
      srcSet: require('@Images/benedikt-benz.jpg?sizes[]=200'),
    }

  main.flex-row
    section.hero-container.flex-column.flex-centered
      div.hero-container-inner
        img.img-rounded(src=responsiveImage.src srcset=responsiveImage.srcSet alt='Benedikt Benz')

        div.hero-description
          h1 Benedikt Benz
          ul.social-text
            li
              a(href='https://www.linkedin.com/in/benediktbenz' target='__blank' title='Benedikt on LinkedIn') LinkedIn
            li
              a(href='https://www.xing.com/profile/Benedikt_Benz' target='__blank' title='Benedikt on Xing') XING
            li
              a(href='https://github.com/itsBen' target='__blank' title='Benedikt on GitHub') GitHub
            li
              a(href='https://www.instagram.com/it.s.ben' target='__blank' title='Benedikt on Instagram') Instagram

          ul.social-icon
            li
              a(href='https://www.linkedin.com/in/benediktbenz' target='__blank' title='Benedikt on LinkedIn')
                i.icon.ion-logo-linkedin
            li
              a(href='https://www.xing.com/profile/Benedikt_Benz' target='__blank' title='Benedikt on Xing')
                i.icon.ion-logo-xing
            li
              a(href='https://github.com/itsBen' target='__blank' title='Benedikt on GitHub')
                i.icon.ion-logo-github
            li
              a(href='https://www.instagram.com/it.s.ben' target='__blank' title='Benedikt on Instagram')
                i.icon.ion-logo-instagram
            li
              a(href='mailto:benedikt.benz@outlook.com' title='Send mail to Benedikt')
                i.icon.ion-md-mail
