<!-- Global site tag (gtag.js) - Google Analytics -->

scrip(async src="https://www.googletagmanager.com/gtag/js?id=UA-96837537-3")

script(async).
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-96837537-3');

