doctype html
html
    head
        title Benedikt Benz
        link(rel="stylesheet", href="/css/style.css")
        link(rel="stylesheet", href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css")

        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        div.container
            div.flex-wrapper.flex-column
                block header
                    header.flex-row.site-header
                        h1
                            a(href="#") BB

                        nav.site-nav
                            ul.site-nav-list
                                li
                                    a(href="#") Home
                                li
                                    a(href="#") Home 1
                                li
                                    a(href="#") Home 2
                                li
                                    a(href="#") Home 3

                block content

                footer.flex-row.site-footer
                    div.copy
                        p © 2019 Benedikt Benz. All rights reserved.
                    div.soc
                        a(href="https://www.instagram.com/it.s.ben" target="__blank")
                            i.icon.ion-logo-instagram
                        a(href="https://www.linkedin.com/in/benediktbenz" target="__blank")
                            i.icon.ion-logo-linkedin
                        a(href="https://github.com/itsBen" target="__blank")
                            i.icon.ion-logo-github
                        a(href="mailto:benedikt.benz@outlook.com")
                            i.icon.ion-md-mail
