extends default

block content
    main.flex-row
        div.hero-container.flex-column.flex-centered
            div.hero-container-inner
                img.img-rounded(src="images/benedikt-benz.200x200.jpg" alt="test" width="200px" height="200px")
                div.hero-description
                    h1 Benedikt Benz
                    ul
                        li
                            a(href="https://www.linkedin.com/in/benediktbenz") LinkedIn
                        li
                            a(href="https://github.com/itsBen") GitHub
                        li
                            a(href="https://www.instagram.com/it.s.ben") Instagram
                    //-
                        button(type="button" class="btn btn-md btn-full-accent") test