doctype html
html(lang="en")
    head
        include ./static/analytics.pug

        title Benedikt Benz

        link(rel="preload" href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'")
        noscript
          link(rel="stylesheet" href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css")

        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(charset="utf-8")
        meta(name="Description", content="Personal website of Benedikt Benz")
        meta(name="keywords" content="Personal Website, Website, Benedikt Benz, HTML, CSS, JavaScript")
        meta(name="author" content="Benedikt Benz")

    body
        div.container
            div.flex-wrapper.flex-column
                include ./static/header.pug

                block content

                include ./static/footer.pug
