doctype html
html(lang="en")
    head
        include ./analytics.pug

        title Benedikt Benz
        link(rel="stylesheet", type="text/css", href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css")

        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(charset="utf-8")
        meta(name="Description", content="Personal website of Benedikt Benz")

    body(data-mode="light")
        div.container
            div.flex-wrapper.flex-column
                include ./header.pug

                block content

                include ./footer.pug
