// Colors:
$color-font-primary--dark: #363636;
$color-font-secondary--dark: #999;

$color-font-primary--light: #363636;
$color-font-secondary--light: #999;

$color-accent: #f37272;

$color-background--dark: #111;
$color-background--light: #fff;
