footer#site-footer
  div.flex-row
    p.copy © #{new Date().getFullYear()} Benedikt Benz. All rights reserved.

    ul.social-icon
        li
            a(href="https://www.linkedin.com/in/benediktbenz" target="__blank" aria-label="Benedikt Benz on LinkedIn")
                i.icon.ion-logo-linkedin
        li
            a(href="https://github.com/itsBen" target="__blank" aria-label="Benedikt Benz on GitHub")
                i.icon.ion-logo-github

