header.flex-row.site-header
    h1
        a(href="/") BB

    button(aria-label="Toggle dark mode").mode-switch
        i(alt="dark mode" id="icon-dark-mode").icon.ion-md-moon
        i(alt="light mode" id="icon-light-mode").icon.ion-md-sunny.hidden