footer.flex-row.site-footer
    p.copy © #{new Date().getFullYear()} Benedikt Benz. All rights reserved.

    ul.social-icon
        li
            a(href="https://www.linkedin.com/in/benediktbenz" target="__blank")
                i.icon.ion-logo-linkedin
        li
            a(href="https://www.xing.com/profile/Benedikt_Benz" target="__blank")
                i.icon.ion-logo-xing
        li
            a(href="https://www.instagram.com/it.s.ben" target="__blank")
                i.icon.ion-logo-instagram
        li
            a(href="https://github.com/itsBen" target="__blank")
                i.icon.ion-logo-github
        li
            a(href="mailto:benedikt.benz@outlook.com")
                i.icon.ion-md-mail
