header.flex-row.site-header
    h1
        a(href="#") BB

    //-
        button(type="button" class="hamburger hamburger--slider")
            span.hamburger-box
                span.hamburger-inner

        nav.site-nav
            ul.site-nav-list
                li
                    a(href="#") Home
                li
                    a(href="#") Home 1
                li
                    a(href="#") Home 2
                li
                    a(href="#") Home 3
            
    button(aria-label="Toggle dark mode").mode-switch
        i(alt="dark mode" id="icon-dark-mode").icon.ion-md-moon
        i(alt="light mode" id="icon-light-mode").icon.ion-md-sunny.hidden