.site-footer {
    padding: 20px 0;
    width: 100%;
    justify-content: space-between;

    .soc {
        a {
            display: inline-block;
            vertical-align: middle;
            margin-left: 12px;
            font-size: 1.5em;
        }
    }

    .copy {
        color: $color-font-light;
    }
}