.site-footer {
    //position: fixed;
    //left: 0;
    //bottom: 25px;
    padding: 20px 0;
    width: 100%;
    justify-content: space-between;

    .soc {
        a {
            display: inline-block;
            vertical-align: middle;
            margin-left: 12px;
            font-size: 1.5em;
        }
    }

    .copy {
        //align-self: flex-start;
        color: $color-font-light;
    }
}