doctype html
html(lang="en")
    head
        include ../partials/analytics.pug

        title Benedikt Benz

        link(rel="dns-prefetch" href="https://www.googletagmanager.com/")
        link(rel="preload" href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'")
        noscript
          link(rel="stylesheet" href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css")

        meta(name="charset" content="utf-8")
        meta(name="description" content="Personal website of Benedikt Benz")
        meta(name="keywords" content="Personal Website, Website, Benedikt Benz, HTML, CSS, JavaScript")
        meta(name="author" content="Benedikt Benz")
        meta(name="viewport" content="width=device-width, initial-scale=1")


    body
      div.flex-column.container
          include ../partials/header.pug

          block content

          include ../partials/footer.pug
